<main>
  <div id="wrapper">
    <div id="scroller">
      <div class="cd-fixed-bg cd-bg-1" data-stellar-background-ratio="0.3">
        <div class="cd-container" style="display: table-cell; vertical-align: middle;">
          <%= image_tag "me.jpg", :height => "400", :alt => "Justin Vrooman", :class => "img-circle face", :style => "position: relative;border: 10px solid #F8F8F8;margin-bottom: 32px;" %>
          <h1><span style="background: rgb(33, 33, 33); background: rgba(33, 33, 33, 0.7); border: 1px solid #060606; border-radius: 5px;">&nbsp;Justin Vrooman&nbsp;</span></h1>
          <h2><span style="background: rgb(33, 33, 33); background: rgba(33, 33, 33, 0.7); border: 1px solid #060606; border-radius: 5px;">&nbsp;Systems Administrator&nbsp;</span></h2>
        </div>
      </div> 

      <div class="cd-scrolling-bg cd-color-1">
        <a name="about"></a>
        <div class="cd-container" style="display: table-cell; vertical-align: middle;">
          <div class="box" style="display: inline-block; width: 70%; left: auto; right: auto;">
            <h2>About me</h2>
            <p style="font-weight: bold;">
              Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <p>
              Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque.
            </p>
          </div>
        </div>
      </div>

      <div class="cd-fixed-bg cd-bg-2" data-stellar-background-ratio="0.3">
        <div class="cd-container" style="display: table-cell; vertical-align: middle;">
          <h2><span style="background: rgb(33, 33, 33); background: rgba(33, 33, 33, 0.7); border: 1px solid #060606; border-radius: 5px;">&nbsp;Systems & Software&nbsp;</span></h2>
        </div>
      </div> 

      <div class="cd-scrolling-bg cd-color-2">
        <a name="systems"></a>
        <div class="cd-container" style="display: table-cell; vertical-align: middle;">
          <div class="box" style="display: inline-block; width: 70%; left: auto; right: auto;">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi...
            </p>
          </div>
        </div>
      </div>

      <div class="cd-fixed-bg cd-bg-3" data-stellar-background-ratio="0.3">
        <div class="cd-container" style="display: table-cell; vertical-align: middle;">
          <h2><span style="background: rgb(33, 33, 33); background: rgba(33, 33, 33, 0.7); border: 1px solid #060606; border-radius: 5px;">&nbsp;Networking & Security&nbsp;</span></h2>
        </div>
      </div> 

      <div class="cd-scrolling-bg cd-color-3">
        <a name="network"></a>
        <div class="cd-container" style="display: table-cell; vertical-align: middle;">
          <div class="box" style="display: inline-block; width: 70%; left: auto; right: auto;">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi...
            </p>
          </div>
        </div>
      </div>

      <div class="cd-fixed-bg cd-bg-4" data-stellar-background-ratio="0.3">
        <div class="cd-container" style="display: table-cell; vertical-align: middle;">
          <h2><span style="background: rgb(33, 33, 33); background: rgba(33, 33, 33, 0.7); border: 1px solid #060606; border-radius: 5px;">&nbsp;Hardware&nbsp;</span></h2>
        </div>
      </div> 

      <div class="cd-scrolling-bg cd-color-4">
        <a name="hardware"></a>
        <div class="cd-container" style="display: table-cell; vertical-align: middle;">
          <div class="box" style="display: inline-block; width: 70%; left: auto; right: auto;">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi...
            </p>
          </div>
        </div>
      </div>

      <div class="cd-fixed-bg cd-bg-5" data-stellar-background-ratio="0.3">
        <div class="cd-container" style="display: table-cell; vertical-align: middle;">
          <h2><span style="background: rgb(33, 33, 33); background: rgba(33, 33, 33, 0.7); border: 1px solid #060606; border-radius: 5px;">&nbsp;Education&nbsp;</span></h2>
        </div>
      </div> 

      <div class="cd-scrolling-bg cd-color-5">
        <a name="education"></a>
        <div class="cd-container" style="display: table-cell; vertical-align: middle;">
          <div class="box" style="display: inline-block; width: 70%; left: auto; right: auto;">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi...
            </p>
          </div>
        </div>
      </div>

      <div class="ndx-footer">
        <center><p>Copyright &copy; 2015 by Justin Vrooman</p></center>
      </div>
    </div>
  </div>  
</main> 

<div id="ndxNav" class="btn-group btn-group-justified" role="group">
  <a href="#about" class="btn btn-primary btn-lg">About me</a>
  <a href="#systems" class="btn btn-primary btn-lg">Systems & Software</a>
  <a href="#network" class="btn btn-primary btn-lg">Networking & Security</a>
  <a href="#hardware" class="btn btn-primary btn-lg">Hardware</a>
  <a href="#education" class="btn btn-primary btn-lg">Education</a>
</div>

<div id="mobileNdxNav" class="btn-group dropup">
  <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width: 100%;">Jump to <span class="caret"></span></button>
  <ul class="dropdown-menu dropdown-menu-custom" role="menu">
    <li><a href="#about">About me</a></li>
    <li><a href="#systems">Systems & Software</a></li>
    <li><a href="#network">Networking & Security</a></li>
    <li><a href="#hardware">Hardware</a></li>
    <li><a href="#education">Education</a></li>
  </ul>
</div>

<div id='toTop'><a href="#top"><i class="fa fa-arrow-up fa-5x"></i></a></div>