<div id="custom-container">

  <p>
    <strong>Title:</strong>
    <span id="page_title" data-mercury="full"><%= raw @page.title %></span>
  </p>

  <p>
    <strong>Author:</strong>
    <span id="page_author" data-mercury="full"><%= raw @page.author %></span>
  </p>

  <p>
    <strong>Content:</strong>
    <div id="page_content" data-mercury="full"><%= raw @page.content %></div>
  </p>

</div>

<% if admin_signed_in? %>
  <center><%= link_to "Edit page", "/editor" + request.path, data: { save_url: mercury_update_page_path(@page) }, class: "btn btn-default", id: "edit_link", :style => "margin-top:30px;" %></center>
<% end %>