@import "bootstrap";
@import "jasny-bootstrap";

html, body {
  background-image: image-url("background.png");
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}

body {
  margin-top: 60px;
  padding: 50px 0 0 0;
}

.navbar-toggle {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.carousel {
  margin-bottom: 32px;
  height: 50%;
}

.item,.active{height:100%;}

.carousel-inner{height:100%;}

.fill{width:100%;height:100%;background-position:center;background-size:cover;}

.hidden { display: none; }

.btn {
  padding: 9px 12px 7px;
  border-width: 0 1px 4px 1px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-default {
  color: #555555;
  background-color: #eeeeee;
  border-color: #e2e2e2;
}

.btn-primary {
  color: white;
  background-color: #158cba;
  border-color: #127ba3;
}

.btn-success {
  color: white;
  background-color: #28b62c;
  border-color: #23a127;
}

.btn-danger {
  color: white;
  background-color: #ff4136;
  border-color: #ff291d;
}

#custom-form-container {
  background-color: #F8F8F8;
  box-shadow: 0px 5px 0px #EEEEEE;
  color: black;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;  
  width: 60%;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #custom-form-container {
    width: 60%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  body {
    margin-top: 10px;
  }

  #custom-form-container {
    width: 70%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .carousel {
    display: none;
  }

  #custom-form-container {
    width: 80%;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  #custom-form-container {
    width: 90%;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  #custom-form-container {
    width: 100%;
  }  
}
