@import "bootstrap";
@import "jasny-bootstrap";
@import "markdown";
@import "font-awesome";

* {
    margin: 0;
}

html, body {
  background-image: image-url("background.png");
  color: white;
  height: 100%;
}

textarea.form-control {
  height: 300px;
}

hr {
  border-top: 1px solid #060606;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

.left-toggle {
  float: left;
}

@media (min-width: 0) {
  .left-toggle {
    display: block; /* force showing the toggle */
  }
}

.carousel {
  margin-bottom: 32px;
  height: 50%;
}

.item,.active{height:100%;}

.carousel-inner{height:100%;}

.fill{width:100%;height:100%;background-position:center;background-size:cover;}

.hidden { display: none; }

.btn {
  border-width: 0 1px 4px 1px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-default {
  color: #555555;
  background-color: #eeeeee;
  border-color: #e2e2e2;
}

.btn-primary {
  color: white;
  background-color: #158cba;
  border-color: #127ba3;
}

.btn-success {
  color: white;
  background-color: #28b62c;
  border-color: #23a127;
}

.btn-danger {
  color: white;
  background-color: #ff4136;
  border-color: #ff291d;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
}

#custom-container {
  background-color: #F8F8F8;
  box-shadow: 0px 5px 0px #EEEEEE;
  color: black;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 90%;
}

#ndx-custom-container {
  background-color: #F8F8F8;
  box-shadow: 0px 5px 0px #EEEEEE;
  color: black;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#custom-form-container {
  background-color: #F8F8F8;
  box-shadow: 0px 5px 0px #EEEEEE;
  color: black;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 60%;
}

#toTop {
    padding: 5px 3px;
    background: #212121;
    border: 1px solid #060606;
    box-shadow: 0px 4px 0px #060606;
    border-radius: 10px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#ndxNav {
  background: rgb(33, 33, 33);
  background: rgba(33, 33, 33, 0.7);
  border: 1px solid #060606;
  border-radius: 0px 0px 5px 5px;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

#mobileNdxNav {
  background: rgb(33, 33, 33);
  background: rgba(33, 33, 33, 0.7);
  border: 1px solid #060606;
  border-radius: 0px 0px 5px 5px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  display: none;
}

/*

for animated hamburger

*/

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.closed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

/*

for scrolling images / text areas

*/

body, html, main {
  /* important */
  height: 100%;
}
 
.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: table;
  text-align: center;
  width: 100%;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: image-url("header-background1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: image-url("header-background2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: image-url("header-background3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: image-url("header-background4.png");
}
.cd-fixed-bg.cd-bg-5 {
  background-image: image-url("header-background5.jpg");
}
 
.cd-scrolling-bg {
  min-height: 100%;
  height: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: table;
  text-align: center;
}

/*

for footer

*/

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 150px; /* .push must be the same height as .footer */
}

.footer {
  background-color: #212121;
  border-top: 1px solid #060606;
  padding-top: 20px;
}

.ndx-footer {
  height: 150px;
  background-color: #212121;
  border-top: 1px solid #060606;
  padding-top: 20px;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #custom-form-container {
    width: 60%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  body {
    margin-top: 10px;
  }

  #custom-form-container {
    width: 70%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .left-toggle {
    margin-left: 15px;
  }

  .carousel {
    display: none;
  }

  #custom-form-container {
    width: 80%;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
  }

  .face {
    margin-top: 100px;
  }

  #custom-form-container {
    width: 90%;
  }

  #ndxNav {
    display: none;
  }

  #mobileNdxNav {
    display: inline;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
  }

  .face {
    margin-top: 100px;
  }

  #custom-form-container {
    width: 100%;
  }

  #ndxNav {
    display: none;
  }

  #mobileNdxNav {
    display: inline;
  }
}