@import "bootstrap";
@import "jasny-bootstrap";

html, body {
  background-image: image-url("background.png");
  color: white;  
  padding-top: 32px;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}

.navbar-toggle {
  float: left;
  margin-left: 10px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}
